body {
    background-image: url('./images/bg.jpg');
    background-size: cover;
    z-index: -1;
    opacity: 0.7;
}

.nav-item {
    color: rgb(255, 255, 255);
}

.nav-item:hover {
    color: rgb(218, 64, 64);
    transform: scale(1.1);
}

.name {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    color: #ff0000;
}

.active {
    color: #ff0000;
}

.ed {
    background-color: #8d8f19d7;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}

.ed1 {
    background-color: #198f89d7;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
    width: 500px;
}

.prof {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.vertical {
    border-left: 5px solid rgb(133, 3, 3);
}