.bg {
    background-image: url('./images/bg.jpg');
    background-size: cover;
    z-index: -1;
    opacity: 1;
}

.nav-item {
    color: rgb(255, 255, 255);
}

.nav-item:hover {
    color: rgb(218, 64, 64);
    transform: scale(1.1);
}

.name {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: bold;
    color: #ff0000;
}

.active {
    color: #ff0000;
}

.aboutme {
    color: rgb(255, 0, 0);
    font-size: 90px;
}

.aboutme:hover {
    text-decoration: none;
    color: #ff0000;
    font-size: 85px;
}

.mee {
    display: none;
}

.aboutme:hover .know {
    display: none;
}

.aboutme:hover .mee {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
}

i:hover,
a:hover {
    text-decoration: none;
    color: #ff0000;
    transform: scale(1.1);
}

.mid {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 130px;
}

.styl {
    padding-left: 100px;
    padding-bottom: 100px;
}

.text {
    padding-left: 55%;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
    width: 1200px;
}